@{
    ViewData["Title"] = "Exercises | List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model PaginatedList<Exercise>
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>ĆWICZENIA</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="Index">Informacje</a>
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="CreateExercise">Stwórz ćwiczenie</a>
                        <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exercise" asp-action="ListExercises">Lista ćwiczeń</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col text-center">
                    <p class="lead">Typ sortowania:</p>
                </div>
            </div>
            <div class="row">
                @{
                    var sortName = (ViewData["NameSortParam"].ToString() == "name") ? "active" : "";
                    var sortNameDesc = (ViewData["NameSortParam"].ToString() == "name_desc") ? "active" : "";
                }
                <div class="col text-center">
                    <div class="btn-group" style="width:inherit">
                        <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="name" class="btn btn-outline-secondary btn-block @sortName">Nazwa A-Z</a>
                        <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="name_desc" class="btn btn-outline-secondary btn-block @sortNameDesc">Nazwa Z-A</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    Lista ćwiczeń
                </div>
                <div class="card-body">
                    @*Poprawic kod html*@
                    @if (Model.TotalPages < Model.PageIndex)
                    {
                        <p class="lead">Brak wyników...</p>
                    }
                    else
                    {
                        foreach (var exercise in Model)
                        {
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action" asp-controller="Exercise" asp-action="ChoosenExercise" asp-route-exerciseID="@exercise.ExerciseID" asp-route-typeOfExercise="@exercise.TypeOfExercise">
                                    <h5>@exercise.Name</h5>
                                    <p class="mb-1">Autor: @exercise.ApplicationUser.FirstName @exercise.ApplicationUser.LastName</p>
                                    <p class="mb-1">Typ zadania: @exercise.TypeOfExercise</p>
                                    <small class="text-muted">@exercise.PathToFile</small>
                                </a>
                            </div>
                        }
                        <br />
                        var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
                        var nextDisabled = Model.HasNextPage ? "" : "disabled";
                        <div>
                            <ul class="pagination">
                                <li class="page-item @prevDisabled">
                                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" class="page-link">&laquo;</a>
                                </li>
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" class="page-link">@(Model.PageIndex - 1)</a>
                                    </li>
                                }
                                <li class="page-item active">
                                    <a class="page-link">@Model.PageIndex</a>
                                </li>
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" class="page-link">@(Model.PageIndex + 1)</a>
                                    </li>
                                }
                                <li class="page-item @nextDisabled">
                                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" class="page-link">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>