@{
    ViewData["Title"] = "Exercises | List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model PaginatedList<Exercise>
}
@inject SignInManager<ApplicationUser> signInManager;

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>ĆWICZENIA</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        @*Lewa strona*@
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="Index">Informacje</a>
                        <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exercise" asp-action="ListExercises">Lista ćwiczeń</a>
                    </div>
                </div>
            </div>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
            {
                <div class="row" style="margin-top: 20px">
                    <div class="col text-center">
                        <label class="lead">Opcje nauczyciela:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="CreateExercise">Stwórz ćwiczenie</a>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="MyExercises">Moje ćwiczenia</a>
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="margin-top: 20px">
                <div class="col text-center">
                    <label class="lead">Typ sortowania:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @{
                        var dateOrder = (ViewData["SortParam"].ToString() == "") ? "active" : "";
                        var dateOrderAsc = (ViewData["SortParam"].ToString() == "date_asc") ? "active" : "";
                        var levelOrderAsc = (ViewData["SortParam"].ToString() == "level_asc") ? "active" : "";
                        var levelOrderDesc = (ViewData["SortParam"].ToString() == "level_desc") ? "active" : "";
                    }
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="btn btn-outline-secondary btn-block @dateOrder" style="width: inherit">Od najnowszego</a>
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="date_asc" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="btn btn-outline-secondary btn-block @dateOrderAsc" style="width: inherit">Od najstarszego</a>
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="level_asc" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="btn btn-outline-secondary btn-block @levelOrderAsc" style="width: inherit">Od najprostszego</a>
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="level_desc" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="btn btn-outline-secondary btn-block @levelOrderDesc" style="width: inherit">Od najtrudniejszego</a>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col text-center">
                    <label class="lead">Typ zadania:</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @{
                        var anyType = (ViewData["ExerciseTypeParam"].ToString() == "") ? "active" : "";
                        var translatingWords = (ViewData["ExerciseTypeParam"].ToString() == "translatingWords") ? "active" : "";
                        var readingTitles = (ViewData["ExerciseTypeParam"].ToString() == "readingTitles") ? "active" : "";
                        var matchingSentences = (ViewData["ExerciseTypeParam"].ToString() == "matchingSentences") ? "active" : "";
                    }
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="" class="btn btn-outline-secondary @anyType" style="width: inherit">Dowolne</a>
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="translatingWords" class="btn btn-outline-secondary @translatingWords" style="width: inherit">Tłumaczenie słów</a>
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="readingTitles" class="btn btn-outline-secondary @readingTitles" style="width: inherit">Dopasowywanie tytułów</a>
                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="matchingSentences" class="btn btn-outline-secondary @matchingSentences" style="width: inherit">Łączenie zdań</a>
                </div>
            </div>
        </div>
        @*Prawa strona*@
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    Lista ćwiczeń
                </div>
                <div class="card-body">
                    @if (Model.TotalPages < Model.PageIndex)
                    {
                        <p class="lead">Brak wyników...</p>
                    }
                    else
                    {
                        @foreach (var exercise in Model)
                        {
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action flex-column align-items-center" asp-controller="Exercise" asp-action="ChoosenExercise" asp-route-exerciseID="@exercise.ExerciseID" asp-route-typeOfExercise="@exercise.TypeOfExercise">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5>@exercise.Name</h5>
                                        <small class="text-muted">Dodano: @exercise.Created.ToString("dd-MM-yyyy")</small>
                                    </div>
                                    <p class="mb-1">Autor: @exercise.ApplicationUser.FirstName @exercise.ApplicationUser.LastName</p>
                                    <p class="mb-1">Typ zadania: @exercise.TypeOfExercise.ToString().Replace('_', ' ')</p>
                                    <div class="d-flex w-100 justify-content-start">
                                        <p class="lead" style="margin-right: 10px">Poziom:</p>
                                        @if (exercise.LevelOfExercise == ExerciseLevel.UNKNOWN)
                                        {
                                            <i class="material-icons-outlined">help_outline</i>
                                        }
                                        else
                                        {
                                            for (int i = 0; i < (int)exercise.LevelOfExercise; i++)
                                            {
                                                <i class="material-icons-outlined">star</i>
                                            }
                                            for (int i = 0; i < 6 - (int)exercise.LevelOfExercise; i++)
                                            {
                                                <i class="material-icons-outlined">star_border</i>
                                            }
                                        }
                                        <p class="lead" style="margin-left: 10px">(@exercise.LevelOfExercise)</p>
                                    </div>
                                </a>
                            </div>
                        }
                        <br />
                        var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
                        var nextDisabled = Model.HasNextPage ? "" : "disabled";
                        <div>
                            <ul class="pagination justify-content-center">
                                <li class="page-item @prevDisabled">
                                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="page-link">&laquo;</a>
                                </li>
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="page-link">@(Model.PageIndex - 1)</a>
                                    </li>
                                }
                                <li class="page-item active">
                                    <a class="page-link">@Model.PageIndex</a>
                                </li>
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="page-link">@(Model.PageIndex + 1)</a>
                                    </li>
                                }
                                <li class="page-item @nextDisabled">
                                    <a asp-controller="Exercise" asp-action="ListExercises" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["SortParam"]" asp-route-typeParam="@ViewData["ExerciseTypeParam"]" class="page-link">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>