@{
    ViewData["Title"] = "Exercises | List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>ĆWICZENIA</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="Index">Informacje</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="CreateExercise">Stwórz ćwiczenie</a>
                <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exercise" asp-action="ListExercises">Lista ćwiczeń</a>
            </div>
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Lista ćwiczeń</div>
                <div class="card-body">
                    <div class="list-group">
                        @foreach (var exercise in ViewBag.exercises)
                        {
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action" asp-controller="Exercise" asp-action="ChoosenExercise" asp-route-ExerciseID="@exercise.ExerciseID">
                                    <h5>@exercise.Name</h5>
                                    <p class="mb-1">Autor: @exercise.ApplicationUser.FirstName @exercise.ApplicationUser.LastName</p>
                                    <p class="mb-1">Typ zadania: @exercise.TypeOfExercise</p>
                                    <small class="text-muted">@exercise.PathToFile</small>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>