@{
    ViewData["Title"] = "Exercises | Attempt";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ReadingTitlesSettingsViewModel
    string[] answers = Model.ShuffleAnswers();
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>ZADANIE - DOPASOWYWANIE TYTUŁÓW</b></h1>
</div>

<div class="container-fluid">
    <form method="post">
        <div class="row">
            <div class="col">
                <div class="alert alert-dismissible alert-secondary text-center">
                    @for (int i = 0; i < answers.Length; i++)
                    {
                        <span class="badge rounded-pill bg-primary" style="font-size:large">@answers[i]</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.NumberOfParagraphs; i++)
            {
                <div class="col-2">
                    <div class="card border-primary mb-3">
                        <div class="card-header text-center">
                            <select class="form-select" asp-for="UserAnswers[i]">
                                @for (int j = 0; j < answers.Length; j++)
                                {
                                    <option>@answers[j]</option>
                                }
                            </select>
                        </div>
                        <div class="card-body">
                            <p class="card-text lead">@Model.Paragraphs[i]</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*Przekazanie danych dalej*@
        @Html.HiddenFor(m => m.NumberOfParagraphs, new { Value = Model.NumberOfParagraphs })
        @Html.HiddenFor(m => m.NumberOfAdditionalTitles, new { Value = Model.NumberOfAdditionalTitles })
        @Html.HiddenFor(m => m.Level, new { Value = Model.Level })
        @for (int i = 0; i < Model.NumberOfParagraphs; i++)
        {
            @Html.HiddenFor(m => m.Paragraphs[i], new { Value = Model.Paragraphs[i] });
            @Html.HiddenFor(m => m.CorrectTitles[i], new { Value = Model.CorrectTitles[i] });
        }
        @for (int i = 0; i < Model.NumberOfAdditionalTitles; i++)
        {
            @Html.HiddenFor(m => m.AdditionalTitles[i], new { Value = Model.AdditionalTitles[i] })
        }
        <button asp-controller="Exercise" asp-action="ReadingTitlesScore" type="submit" class="btn btn-primary">Dalej</button>
    </form>
</div>