@{
    ViewData["Title"] = "My Exercises | Show Exercise";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Exercise
}

<p class="lead">ID ćwiczenia: @Model.ExerciseID</p>
<p class="lead">ID autora: @Model.ApplicationUserID</p>
<p class="lead">Nazwa ćwiczenia: @Model.Name</p>
<p class="lead">Ścieżka do pliku: @Model.PathToFile</p>
<p class="lead">Widoczność: @Model.Visible</p>

<form method="post">
    <div class="form-check">
        <input class="form-check-input" value="@Model.Visible" type="checkbox" asp-for="Visible" />
        <label class="form-check-label" asp-for="@Model.Visible"></label>
    </div>

    @Html.HiddenFor(m => m.ExerciseID, new { Value = Model.ExerciseID })
    <button class="btn btn-outline-info" asp-controller="Exercise" asp-action="ChangeVisibility">Zapisz zmiany</button>
</form>
<a class="btn btn-outline-danger" asp-controller="Exercise" asp-action="DeleteExercise" asp-route-exerciseID="@Model.ExerciseID">Usuń</a>



