@{
    ViewData["Title"] = "Exam | Archived Exam";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model PaginatedList<Mark>
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TESTY</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                <strong>Ten test został zarchiwizowany. Można jedynie podejrzeć wyniki.</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-dark mb-3">
                <div class="card-header">Wyniki testu: @ViewData["ExamID"]</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th style="text-align:center; vertical-align:middle">Nr</th>
                                <th style="text-align:center; vertical-align:middle">Uczeń</th>
                                <th style="text-align:center; vertical-align:middle">Punkty</th>
                                <th style="text-align:center; vertical-align:middle">Maks. Punktów</th>
                                <th style="text-align:center; vertical-align:middle">Wynik</th>
                                <th style="text-align:center; vertical-align:middle"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }
                            @foreach (var mark in Model)
                            {
                                <tr class="table-light">
                                    <td style="text-align:center; vertical-align:middle">@(i + (Model.PageIndex-1) * 10).</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.ApplicationUser.FirstName @mark.ApplicationUser.LastName</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.UserScore</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.MaxPoints</td>
                                    @{
                                        double result = Math.Round((double)mark.UserScore / (double)mark.MaxPoints * 100, 2, MidpointRounding.AwayFromZero);
                                        string resultString = Convert.ToInt32(result).ToString();
                                        string resultStringPercent = resultString + '%';
                                        string color;
                                        if (result < 50.00)
                                            color = "bg-danger";
                                        else if (result >= 50.00 && result < 75.00)
                                            color = "bg-warning";
                                        else
                                            color = "bg-success";
                                    }
                                    <td style="text-align:center; vertical-align:middle">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped @color" role="progressbar" style="width:@resultStringPercent" aria-valuenow="@resultString" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle">@result%</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <br />
                    @{
                        var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
                        var nextDisabled = Model.HasNextPage ? "" : "disabled";
                    }
                    <div>
                        <ul class="pagination justify-content-center">
                            <li class="page-item @prevDisabled">
                                <a asp-controller="Exam" asp-action="ArchivedExam" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-examID="@ViewData["ExamID"]" class="page-link">&laquo;</a>
                            </li>
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a asp-controller="Exam" asp-action="ArchivedExam" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-examID="@ViewData["ExamID"]" class="page-link">@(Model.PageIndex - 1)</a>
                                </li>
                            }
                            <li class="page-item active">
                                <a class="page-link">@Model.PageIndex</a>
                            </li>
                            @if (Model.HasNextPage)
                            {
                                <li class="page-item">
                                    <a asp-controller="Exam" asp-action="ArchivedExam" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-examID="@ViewData["ExamID"]" class="page-link">@(Model.PageIndex + 1)</a>
                                </li>
                            }
                            <li class="page-item @nextDisabled">
                                <a asp-controller="Exam" asp-action="ArchivedExam" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-examID="@ViewData["ExamID"]" class="page-link">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>