@{
    ViewData["Title"] = "Exam | Create";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TESTY</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="Index">Informacje</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="PublicExams">Publiczne testy</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="DoneExams">Zrobione testy</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="ExamsResults">Wyniki testów</a>
                <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exam" asp-action="CreateExam">Stwórz test</a>
            </div>
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Informacje</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'"><b>TWORZENIE TESTU</b></h4>
                    <div class="border-bottom" style="margin-bottom: 20px; padding-bottom: 20px">
                        <p class="lead">
                            Wybrane zadania: @ViewBag.choosenExercises
                        </p>
                        @if (String.IsNullOrEmpty(ViewBag.choosenExercises))
                        {
                            <a class="btn btn-outline-success disabled">Zapisz</a>
                            <a class="btn btn-outline-danger disabled">Anuluj</a>
                        }
                        else
                        {
                            <a asp-controller="Exam" asp-action="ExamSettings" class="btn btn-outline-success">Zapisz</a>
                            <a asp-controller="Exam" asp-action="ClearCookie" class="btn btn-outline-danger">Anuluj</a>
                        }
                    </div>
                    <div class="list-group">
                        @foreach (var exercise in ViewBag.userExercises)
                        {
                            <a class="list-group-item list-group-item-action" asp-controller="Exam" asp-action="ShowExercise" asp-route-exerciseID="@exercise.ExerciseID">
                                <h5>@exercise.Name</h5>
                                <p class="mb-1">Autor: @exercise.ApplicationUser.FirstName @exercise.ApplicationUser.LastName</p>
                                <p class="mb-1">Typ zadania: @exercise.TypeOfExercise</p>
                                <small class="text-muted">@exercise.PathToFile</small>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>