@{
    ViewData["Title"] = "Exam | Create";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model PaginatedList<Exercise>
}
@inject SignInManager<ApplicationUser> signInManager;

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TESTY</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="Index">Informacje</a>
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="PublicExams">Publiczne testy</a>
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="DoneExams">Moje wyniki</a>
                    </div>
                </div>
            </div>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
            {
                <div class="row" style="margin-top: 20px">
                    <div class="col text-center">
                        <label class="lead">Opcje nauczyciela:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="ExamsResults">Wyniki testów</a>
                            <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exam" asp-action="CreateExam">Stwórz test</a>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="MyExams">Moje testy</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Tworzenie testu</div>
                <div class="card-body">
                    <div class="border-bottom" style="margin-bottom: 20px; padding-bottom: 20px">
                        <p class="lead">
                            Wybrane zadania: @ViewBag.choosenExercises
                        </p>
                        @if (String.IsNullOrEmpty(ViewBag.choosenExercises))
                        {
                            <a class="btn btn-outline-success disabled">Zapisz</a>
                            <a class="btn btn-outline-danger disabled">Anuluj</a>
                        }
                        else
                        {
                            <a asp-controller="Exam" asp-action="ExamSettings" class="btn btn-outline-success">Zapisz</a>
                            <a asp-controller="Exam" asp-action="ClearCookie" class="btn btn-outline-danger">Anuluj</a>
                        }
                    </div>
                    @if (Model.TotalPages < Model.PageIndex)
                    {
                        <p class="lead">Brak wyników...</p>
                    }
                    else
                    {
                        @foreach (var exercise in Model)
                        {
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action" asp-controller="Exam" asp-action="ShowExercise" asp-route-exerciseID="@exercise.ExerciseID">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5>@exercise.Name</h5>
                                        <small class="text-muted">Dodano: @exercise.Created.ToString("dd-MM-yyyy")</small>
                                    </div>
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1">Autor: @exercise.ApplicationUser.FirstName @exercise.ApplicationUser.LastName</p>
                                        @if (!exercise.Visible)
                                        {
                                            <i class="material-icons-outlined">visibility_off</i>
                                        }
                                    </div>
                                    <p class="mb-1">Typ zadania: @exercise.TypeOfExercise</p>
                                    <div class="d-flex w-100 justify-content-start">
                                        <p class="lead" style="margin-right: 10px">Poziom:</p>
                                        @if (exercise.LevelOfExercise == ExerciseLevel.UNKNOWN)
                                        {
                                            <i class="material-icons-outlined">help_outline</i>
                                        }
                                        else
                                        {
                                            for (int i = 0; i < (int)exercise.LevelOfExercise; i++)
                                            {
                                                <i class="material-icons-outlined">star</i>
                                            }
                                            for (int i = 0; i < 6 - (int)exercise.LevelOfExercise; i++)
                                            {
                                                <i class="material-icons-outlined">star_border</i>
                                            }
                                        }
                                        <p class="lead" style="margin-left: 10px">(@exercise.LevelOfExercise)</p>
                                    </div>
                                </a>
                            </div>
                        }
                        <br />
                        var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
                        var nextDisabled = Model.HasNextPage ? "" : "disabled";
                        <div>
                            <ul class="pagination justify-content-center">
                                <li class="page-item @prevDisabled">
                                    <a asp-controller="Exam" asp-action="CreateExam" asp-route-pageNumber="@(Model.PageIndex - 1)" class="page-link">&laquo;</a>
                                </li>
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a asp-controller="Exam" asp-action="CreateExam" asp-route-pageNumber="@(Model.PageIndex - 1)" class="page-link">@(Model.PageIndex - 1)</a>
                                    </li>
                                }
                                <li class="page-item active">
                                    <a class="page-link">@Model.PageIndex</a>
                                </li>
                                @if (Model.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a asp-controller="Exam" asp-action="CreateExam" asp-route-pageNumber="@(Model.PageIndex + 1)" class="page-link">@(Model.PageIndex + 1)</a>
                                    </li>
                                }
                                <li class="page-item @nextDisabled">
                                    <a asp-controller="Exam" asp-action="CreateExam" asp-route-pageNumber="@(Model.PageIndex + 1)" class="page-link">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</div>