@{
    ViewData["Title"] = "My Exams | Edit Exam";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ExamViewModel
}

<p class="lead">ID testu: @Model.ExamID</p>
<p class="lead">Nazwa testu: @Model.Name</p>
<p class="lead">Hasło do testu: @Model.Password</p>
<p class="lead">Widoczność testu: @Model.Visible</p>
<p class="lead">ID zadań: @Model.ExercisePattern</p>
<p class="lead">Czy zarchiwizowano: @Model.Archived</p>
<p class="lead">Wiele podejść: @Model.ManyAttempts</p>

<form method="post">
    @*Widocznosc*@
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Visible" />
        <label class="form-check-label" asp-for="Visible"></label>
    </div>
    @*Nazwa testu*@
    <div class="form-group">
        <label asp-for="Name" class="lead"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @*Haslo*@
    <div class="form-group">
        <label asp-for="Password" class="lead"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @Html.HiddenFor(m => m.ExamID, new { Value = Model.ExamID })
    @Html.HiddenFor(m => m.ExercisePattern, new { Value = Model.ExercisePattern })
    <button class="btn btn-outline-info" asp-controller="Exam" asp-action="EditExam">Zapisz zmiany</button>
</form>
<a class="btn btn-outline-danger" asp-controller="Exam" asp-action="ArchiveExam" asp-route-examID="@Model.ExamID">Archiwizuj</a>