@{
    ViewData["Title"] = "Exam | Exam Results";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TESTY</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="Index">Informacje</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="PublicExams">Publiczne testy</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="DoneExams">Zrobione testy</a>
                <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exam" asp-action="ExamsResults">Wyniki testów</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="CreateExam">Stwórz test</a>
            </div>
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Wyniki testów</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'"><b>@ViewData["ExamName"]</b></h4>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th style="text-align:center; vertical-align:middle">Nr</th>
                                <th style="text-align:center; vertical-align:middle">Imię</th>
                                <th style="text-align:center; vertical-align:middle">Nazwisko</th>
                                <th style="text-align:center; vertical-align:middle">Punkty</th>
                                <th style="text-align:center; vertical-align:middle">Maks. Punktów</th>
                                <th style="text-align:center; vertical-align:middle">Wynik</th>
                                <th style="text-align:center; vertical-align:middle"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }
                            @foreach (var mark in ViewBag.marks)
                            {
                                <tr class="table-light">
                                    <td style="text-align:center; vertical-align:middle">@i.</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.ApplicationUser.FirstName</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.ApplicationUser.LastName</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.UserScore</td>
                                    <td style="text-align:center; vertical-align:middle">@mark.MaxPoints</td>
                                    @{ 
                                        double result = Math.Round((double)mark.UserScore / (double)mark.MaxPoints * 100, 2, MidpointRounding.AwayFromZero);
                                        string resultString = Convert.ToInt32(result).ToString();
                                        string resultStringPercent = resultString + '%';
                                        string color;
                                        if (result < 50.00)
                                            color = "bg-danger";
                                        else if (result >= 50.00 && result < 75.00)
                                            color = "bg-warning";
                                        else
                                            color = "bg-success";
                                    }
                                    <td style="text-align:center; vertical-align:middle">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped @color" role="progressbar" style="width:@resultStringPercent" aria-valuenow="@resultString" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td style="text-align:center; vertical-align:middle">@result%</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-outline-primary" asp-controller="Exam" asp-action="ExamsResults">Wróć</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>